.navbar{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar__title {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 25px;
    color: #3972a6;
    text-decoration: none;
}