@import "./components/navbar/navbar.scss";


.App {
    margin: 32px 64px 0px 64px
}

p{
    font-size: 16px;
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
  }
  
  @keyframes skeleton-loading {
    0% {
      background-color: hsl(200, 20%, 80%);
    }
    100% {
      background-color: hsl(200, 20%, 95%);
    }
  }